<h1>Sửa đơn hàng</h1>

<%= render 'form', invoice: @invoice %>

<%= link_to 'Xem', @invoice, class:"btn btn-outline-dark" %> <br>
<%= link_to 'Quay lại', invoices_path, class:"btn btn-outline-primary" %>
